@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//db.onlinewebfonts.com/c/0fddb08144cea533dcd3d39388b7ffbe?family=GrandSlang+Roman);

@layer base {
  html {
    @apply font-crazy;
    @apply font-mont;
  }
}

@font-face {
  font-family: "GrandSlang Roman";
  src: url("//db.onlinewebfonts.com/t/0fddb08144cea533dcd3d39388b7ffbe.eot");
  src: url("//db.onlinewebfonts.com/t/0fddb08144cea533dcd3d39388b7ffbe.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0fddb08144cea533dcd3d39388b7ffbe.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/0fddb08144cea533dcd3d39388b7ffbe.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/0fddb08144cea533dcd3d39388b7ffbe.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/0fddb08144cea533dcd3d39388b7ffbe.svg#GrandSlang Roman")
      format("svg");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("/assets/fonts/FontsFree-Net-Montserrat-Medium.ttf");
}
